# Visual Studio / Rider / VSCode
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# .NET build
bin/
obj/
[Bb]uild/
[Ll]og/
*.dll
*.exe
*.pdb

# ASP.NET Core
wwwroot/lib/
App_Data/

# Angular / Node
node_modules/
dist/
.angular/
.npm/
*.log

# NuGet
*.nupkg
*.snupkg
packages/

# Test
TestResults/
coverage/
*.trx

# OS files
Thumbs.db
.DS_Store
